@model List<Front.Models.Curso>

@foreach (var curso in Model)
{
    <a asp-page="/Dashboard" asp-route-curso="@curso.nomeCurso" class="card-curso" style="text-decoration: none">
        <div class="flex QuadroCards_List coluna" style="gap: 24px">
            <div class="linha" style="align-items: center">
                <img src="~/css/icons/caderno.svg" height="16px" />
                <h4 class="corPreta40B">@curso.nomeCurso</h4>
            </div>
            <div class="coluna" style="gap: 4px">
                <span class="subH4 corCinza60B">Quant: @curso.quantAlunos Alunos</span>
            </div>
            <div class="linha">
                <div class="linha cur_porcVerd" style="gap: 8px">
                    <img src="~/css/icons/rostofeliz.svg" height="16px" />
                    <span class="cur_porcFont">@curso.engagAlto%</span>
                </div>
                <div class="linha cur_porcAzul" style="gap: 8px">
                    <img src="~/css/icons/rostosememocao.svg" height="16px" />
                    <span class="cur_porcFont">@curso.engagMedio%</span>
                </div>
                <div class="linha cur_porcVerm" style="gap: 8px">
                    <img src="~/css/icons/rostotriste.svg" height="16px" />
                    <span class="cur_porcFont">@curso.engagBaixo%</span>
                </div>
            </div>
        </div>
    </a>
}
